<html>
{{#each foo}}
{{this}}
{{/each}}

<form id='filter_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by homeworld </label>
    <select id='homeworld_filter' name="homeworld"> 
        {{#each planets}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterPeopleByHomeworld()">
</form>

<form id='search_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search people for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPeopleByFirstName()">
</form>

<h3>Current people:</h3>
<table>
    <thead> 
        <th>customer_first_name</th> 
        <th>customer_last_name</th> 
        <th>customer_email</th>
        <th>customer_phone_number</th>  
        <th>customer_address</th>  
        <th>customer_birthdate</th>  
    </thead> 
    <tbody>
        {{#each people}} 
        <tr> 
            <td>{{customer_first_name}}</td> 
            <td>{{customer_last_name}}</td> 
            <td>{{customer_email}}</td> 
            <td>{{customer_phone_number}}</td>
            <td>{{customer_address}}</td>
            <td>{{customer_birthdate}}</td>
            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/people/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 

<h3>Add new people:</h3>
<form id="addperson" action="/people" method="post">
    <input type="text" id="fname" name="fname" placeholder="First Name"><br>
    <input type="text" id="lname" name="lname" placeholder="Last Name"><br>
    <input type="text" id="cemail" name="cemail" placeholder="Email"><br>
    <input type="text" id="cphone" name="cphone" placeholder="Phone #"><br>
    <input type="text" id="caddress" name="caddress" placeholder="Address"><br>
    <label for="bdate">Birthday:</label>
    <input type="date" id="bdate" name="bdate" value="YYYY-MM-DD"><br>
    <input type="submit" value="Add"><br><br>
    <input type="text" id="cid" name="cid" placeholder="Customer ID">
    <br><input type="submit" value="Update">
 </form>
<br/>


</html>
