<html>
{{#each foo}}
{{this}}
{{/each}}

<link href="styles.css" rel="stylesheet" type="text/css" />
<div class="topnav">
    <li><a class="active" href="index.html">Home</a></li>
    <li> <a href='/customers'>Customers</a></li>
    <li> <a href='/distributors'>Distributors</a></li>
    <li> <a href='/products'>Products</a></li>
    <li> <a href='/sale_orders'>Sale Orders</a></li>
    <li> <a href='/sale_order_products'>Sale Order Products</a></li>
  </div>

<h3>Current people:</h3>
<table>
    <thead> 
        <th>customer_first_name</th> 
        <th>customer_last_name</th> 
        <th>customer_email</th>
        <th>customer_phone_number</th>  
        <th>customer_address</th>  
        <th>customer_birthdate</th>  
    </thead> 
    <tbody>
        {{#each people}} 
        <tr> 
            <td>{{customer_first_name}}</td> 
            <td>{{customer_last_name}}</td> 
            <td>{{customer_email}}</td> 
            <td>{{customer_phone_number}}</td>
            <td>{{customer_address}}</td>
            <td>{{customer_birthdate}}</td>
            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/people/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 

<h3>Add new people:</h3>
<form id="addperson" action="/people" method="post">
    <input type="text" id="fname" name="fname" placeholder="First Name"><br>
    <input type="text" id="lname" name="lname" placeholder="Last Name"><br>
    <input type="text" id="cemail" name="cemail" placeholder="Email"><br>
    <input type="text" id="cphone" name="cphone" placeholder="Phone #"><br>
    <input type="text" id="caddress" name="caddress" placeholder="Address"><br>
    <label for="bdate">Birthday:</label>
    <input type="date" id="bdate" name="bdate" value="YYYY-MM-DD"><br>
    <input type="submit" value="Add"><br><br>
    <input type="text" id="cid" name="cid" placeholder="Customer ID">
    <br><input type="submit" value="Update">
 </form>
<br/>


</html>
