<html>
{{#each foo}}
{{this}}
{{/each}}

<form id='filter_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by homeworld </label>
    <select id='homeworld_filter' name="homeworld"> 
        {{#each planets}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterPeopleByHomeworld()">
</form>

<form id='search_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search people for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPeopleByFirstName()">
</form>

<h3>Current people:</h3>
<table>
    <thead> 
        <th>distributor_name</th> 
        <th>distributor_address</th> 
        <th>distributor_email</th>
        <th>distributor_phone</th>  
        <th>distributor_contact_person</th>  
    </thead> 
    <tbody>
        {{#each people}} 
        <tr> 
            <td>{{distributor_name}}</td> 
            <td>{{distributor_address}}</td> 
            <td>{{distributor_email}}</td> 
            <td>{{distributor_phone}}</td>
            <td>{{distributor_contact_person}}</td>
            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/people/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 



<h3> Add new distributor: </h3>
<form>
    <input type="text" id="dname" name="dname" placeholder="Distributor Name"><br>
    <input type="text" id="address" name="address" placeholder="Distributor Address"><br>
    <input type="text" id="email" name="email" placeholder="Distributor Email"><br>
    <input type="text" id="dphone" name="dphone" placeholder="Distributor Phone #"><br>
    <input type="text" id="dcontact" name="dcontact" placeholder="Distributor Contact"><br>
    <input type="submit" value="Add"><br><br>
    <input type="text" id="d_id" name="d_id" placeholder="Distributor ID">
    <br><input type="submit" value="Update">
  </form>
  <br/>
</html>
