<html>
{{#each foo}}
{{this}}
{{/each}}

<link href="styles.css" rel="stylesheet" type="text/css" />
<div class="topnav">
    <li><a class="active" href="index.html">Home</a></li>
    <li> <a href='/customers'>Customers</a></li>
    <li> <a href='/distributors'>Distributors</a></li>
    <li> <a href='/products'>Products</a></li>
    <li> <a href='/sale_orders'>Sale Orders</a></li>
    <li> <a href='/sale_order_products'>Sale Order Products</a></li>
  </div>

<h3>Current people:</h3>
<table>
    <thead> 
        <th>distributor_name</th> 
        <th>distributor_address</th> 
        <th>distributor_email</th>
        <th>distributor_phone</th>  
        <th>distributor_contact_person</th>  
    </thead> 
    <tbody>
        {{#each people}} 
        <tr> 
            <td>{{distributor_name}}</td> 
            <td>{{distributor_address}}</td> 
            <td>{{distributor_email}}</td> 
            <td>{{distributor_phone}}</td>
            <td>{{distributor_contact_person}}</td>
            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/people/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table>


<h3> Add new distributor: </h3>
<form id="adddistributor" action="/distributors" method="post">
    <input type="text" id="dname" name="distributor_name" placeholder="Distributor Name"><br>
    <input type="text" id="address" name="distributor_address" placeholder="Distributor Address"><br>
    <input type="text" id="email" name="distributor_email" placeholder="Distributor Email"><br>
    <input type="text" id="dphone" name="distributor_phone" placeholder="Distributor Phone #"><br>
    <input type="text" id="dcontact" name="distributor_contact_person" placeholder="Distributor Contact"><br>
    <input type="submit" value="Add"><br><br>
    <input type="text" id="d_id" name="d_id" placeholder="Distributor ID">
    <br><input type="submit" value="Update">
  </form>
  <br/>
</html>
