<html>
{{#each foo}}
{{this}}
{{/each}}
<link href="styles.css" rel="stylesheet" type="text/css" />
<div class="topnav">
    <li><a class="active" href="index.html">Home</a></li>
    <li> <a href='/customers'>Customers</a></li>
    <li> <a href='/distributors'>Distributors</a></li>
    <li> <a href='/products'>Products</a></li>
    <li> <a href='/sale_orders'>Sale Orders</a></li>
    <li> <a href='/sale_order_products'>Sale Order Products</a></li>
  </div>

<h3>Products</h3>
<table>
    <thead> 
        <th>product_ID</th> 
        <th>product_type</th> 
        <th>product_name</th> 
        <th>distributor_ID</th>
        <th>retail_price</th>  
        <th>release_date</th>  
        <th>quant_in_stock</th>  
    </thead> 
    <tbody>
        {{#each people}} 
        <tr> 
            <td>{{product_ID}}</td>
            <td>{{product_type}}</td> 
            <td>{{product_name}}</td> 
            <td>{{distributor_ID}}</td> 
            <td>{{retail_price}}</td>
            <td>{{release_date}}</td>
            <td>{{quant_in_stock}}</td>
            <td><button onclick="deleteProduct({{product_ID}})">Delete</button></td>
            <td><a href="/products/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 

<h3>Add new product:</h3>
<form id="add_product" action="/products" method="post">
    <input type="text" id="product_type" name="product_type" placeholder="Product type"><br>
    <input type="text" id="product_name" name="product_name" placeholder="Product name"><br>
    <input type="text" id="distributor_ID" name="distributor_ID" placeholder="Distributor ID"><br>
    <input type="text" id="retail_price" name="retail_price" placeholder="Retail Price"><br>
    <input type="text" id="quant_in_stock" name="quant_in_stock" placeholder="Quantity in Stock"><br>
    <label for="pdate">Release Date:</label>
    <input type="date" id="release_date" name="release_date" value="2018-07-22"><br>
    <input type="submit" value="Add"><br><br>
  </form>
<br/>
</html>
