<html>
{{#each foo}}
{{this}}
{{/each}}
<link href="styles.css" rel="stylesheet" type="text/css" />
<div class="topnav">
    <li><a class="active" href="index.html">Home</a></li>
    <li> <a href='/customers'>Customers</a></li>
    <li> <a href='/distributors'>Distributors</a></li>
    <li> <a href='/products'>Products</a></li>
    <li> <a href='/sale_orders'>Sale Orders</a></li>
    <li> <a href='/sale_order_products'>Sale Order Products</a></li>
  </div>

<h3>Sale Orders</h3>
<table>
    <thead> 
        <th>order_number</th>
        <th>customer_ID</th> 
        <th>order_date</th> 
        <th>cc_number</th>
        <th>cc_exp_date</th>  
        <th>delivery_status</th>  
        <th>paid_status</th>  
    </thead> 
    <tbody>
        {{#each people}} 
        <tr> 
            <td>{{order_number}}</td>
            <td>{{customer_ID}}</td> 
            <td>{{order_date}}</td> 
            <td>{{cc_number}}</td> 
            <td>{{cc_exp_date}}</td>
            <td>{{delivery_status}}</td>
            <td>{{paid_status}}</td>
            <td><button onclick="deleteSale_Order({{order_number}})">Delete</button></td>
            <td><a href="/sale_orders/{{order_number}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 

<h3>Add new sale order:</h3>
<form id="add_sale_order" action="/sale_orders" method="post">
    <input type="text" id="customer_ID" name="customer_ID" placeholder="Customer ID"><br>
    <input type="text" id="cc_number" name="cc_number" placeholder="Credit Card Number"><br>
    <label for="bdate">Credit Card Expiration Date:</label>
    <input type="date" id="cc_exp_date" name="cc_exp_date" value="YYYY-MM-DD"><br>
    <label for="delivery_status">Delivery Status:</label>
      <select name="delivery_status" id="order_complete">
        <option value="delivered">Delivered</option>
        <option value="not_delivered">Not Delivered</option>
      </select><br>
    <label for="paid_status">Delivery Status:</label>
      <select name="paid_status" id="paid_status">
        <option value="Paid">Paid</option>
        <option value="Not Paid">Not Paid</option>
      </select><br>
    <input type="submit" value="Add"><br><br>
 </form>
<br/>

</html>
