<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add new people:</h3>
<form id="addperson" action="/people" method="post">
    <input type="text" id="order_num_PK" name="order_num_PK" placeholder="Order Number"><br>
    <input type="text" id="product_ID_PK" name="product_ID_PK" placeholder="Product ID"><br>
    <input type="text" id="quantity" name="quantity" placeholder="Quantity"><br>
    <input type="number" step="0.01" id="selling_price" name="selling_price" placeholder="Selling Price"><br>
    <label for="shipping_status">Shipped:</label>
      <select name="shipping_status" id="sent_out">
        <option value="shipped">True</option>
        <option value="not_shipped">False</option>
      </select><br>
    <label for="sdate">Shipping Date:</label>
    <input type="date" id="sdate" name="sdate" value="2018-07-22"><br>
    <input type="submit" value="Add"><br><br>
    <br><input type="submit" value="Update">
 </form>
<br/>

<form id='filter_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by homeworld </label>
    <select id='homeworld_filter' name="homeworld"> 
        {{#each planets}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterPeopleByHomeworld()">
</form>

<form id='search_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search people for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPeopleByFirstName()">
</form>

<h3>Current people:</h3>
<table>
    <thead> 
        <th>order_number</th> 
        <th>product_ID</th> 
        <th>quantity</th> 
        <th>selling_price</th>
        <th>shipping_status</th>  
        <th>shipping_date</th>  
    </thead> 
    <tbody>
        {{#each people}} 
        <tr>
            <td>{{order_number}}</td>  
            <td>{{product_ID}}</td> 
            <td>{{quantity}}</td> 
            <td>{{selling_price}}</td> 
            <td>{{shipping_status}}</td>
            <td>{{shipping_date}}</td>
            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/people/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>
