<html>
<link href="/styles.css" rel="stylesheet" type="text/css" />
<h1>Update Sale Order {{sale_order.order_number}}:</h1>
<form id="update-sale_order" action="/sale_orders" method="post">
    {{!-- Pre-populate the input fields with the attributes' current values --}}
    Customer: <select name="customer_ID" id="customer-selector">
        {{#each customers}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Order Date: <input type="date" name="order_date" value="{{sale_order.order_date}}"><br>
    Credit Card #: <input type="text" name="cc_number" value="{{sale_order.cc_number}}"><br>
    Credit Card Expiration Date: <input type="date" name="cc_exp_date" value="{{sale_order.cc_exp_date}}"><br>
    Delivery Status: <select name="delivery_status">
        <option value = "Delivered">Delivered</option>
        <option value = "Not Devliered">Not Delivered</option>
    </select><br>
    Paid Status: <select name="paid_status">
        <option value = "Paid">Paid</option>
        <option value = "Not Paid">Not Paid</option>
    </select><br>
</form>
<button onclick="updateSale_Orders({{sale_order.order_number}})">Update</button>
<script defer>selectCustomer({{sale_order.customer_ID}});</script>
</html>
